## Desafío 1
Hacer un programa que nos pida los siguiente: 

- La fecha actual en cualquier formato
- Calorías ingeridas en el desayuno
- Calorías ingeridas en la comida
- Calorías ingeridas en la cena
- Calorías ingeridas en tentempiés

Después, el programa sumará todas las calorías y les dará formato de mensaje.

In [ ]:
# El objetivo es generar las variables y almacenarlas para que posteriormente las sume. 
# Primero hay que sacar la fecha
# fecha = input("Hola...,introduces la fecha de hoy ")

In [ ]:
# type(fecha)

Creamos las variables del contador

date = input()

breakfast = input()

lunch = input()

dinner = input ()

snack = input ()

Si lo hacemos así, nos pedirá las variables pero no almacenará los valores. Es importante
añadir delante int para que haba una variable.

In [ ]:


print("¿qué dia es hoy?")
date = input()
print("Calorias desayuno")
breakfast = int(input())
print("Calorias comida")
lunch = int(input())
print("Caloria cena")
dinner = int(input())
print("caloria snack")
snack = int(input())

In [ ]:
totalCal = breakfast + lunch + dinner + snack

In [ ]:
print("Calorias Totales del día: " + date + " son: " + str(totalCal))

***

## Paso 2: Escribir código en el archivo nuevo para resolver el desafío

Escriba un programa corto que imprima un mensaje entre varios usuarios en función de su entrada. 

En primer lugar, pregunte al usuario si quiere continuar o no. 

Si el usuario responde `no` o `n`, imprima la frase `Existing`.

Obtenga la salida siguiente en este escenario de `no`. El usuario ha especificado `no` cuando se le solicitó.

```
output
Would you like to continue? no
Exiting
```

Si el usuario responde con `yes` `y`, imprima la frase `Continuing...` y `Complete!`. 

Obtenga la salida siguiente en este escenario de `yes`. El usuario ha especificado `yes`cuando se le solicitó-

Resultados Copiar

```
output
Would you like to continue? yes
Continuing...
Complete!
```

In [ ]:
respuesta = input("Would you like to continue? ")

In [ ]:
if respuesta == 'yes' or respuesta == 'y':
    print("Continuing...")
    print("Complete!")
elif respuesta == 'not' or respuesta == 'n':
    print("Exiting")
else:
    print("Intenta contestar nuevamente yes or not")

Ideas para mejorar el código: 

- Reducir el número de líneas. 
- Añadir forma de que le de igual que se introduzcan los datos en mayúsculas o minúsculas.


***

Escribir un pro que convierta la temperatura de Fahrenheit a Celsius

En este código se muestra la fórmula matetmática para convertir una temperatura medida en grados Fahrenheit a una temperatura medida en grados celsius: 

# Completar el resto de texto: Marcus lo ha guardado en el respositorio 01-intro/python/labs

In [ ]:
respuesta = input("What is the temperature in fahrenheit? ")

In [ ]:
respuesta = input("What is the temperature in fahrenheit? ")
try:
    entero = int(respuesta)
    celsius = (int(respuesta) - 32)*5/9
    print("Temperatura in celsius is " + str(celsius))
except ValueError:                              
    print("No es un formato correcto")

Pasos 1: pedir temperatura fahrenheit

2: comprobar si es número. Si no lo es, que lo muestre. 

3: si es número que devuelva la temperatura en Celsius.

In [ ]:
def conversor_celsius():
    respuesta = input("What is the temperature in fahrenheit? ")
    if type(respuesta) is str:
        respuesta = (int(respuesta) - 32)*5/9
        print("Temperatura in celsius is " + str(respuesta))
    else:
        print("No es un formato correcto")

In [ ]:
conversor_celsius()

In [ ]:
# Respuesta Marco
fahrenheit = input("Cual es la temperatura FAH de: ")

if fahrenheit.isnumeric() == False:
    print("Input is nor a numeric")
    exit()

fahrenheit = int(fahrenheit)

celsius = int(fahrenheit -32)*5/9
print("La temperatura en celsius es: " + str(celsius))


***

## Practica: Generar una Calculadora - Sin funciones

Operaciones matemáticas permitidas: 
- Suma
- Resta
- Multiplicación
- Cociente
- Exponente
- Módulo

In [ ]:
a = input("Introduce un número ")
if a.isdigit() == True:
    a=int(a)
else:
    print("Introduzca un número")

b = input("Introduzca una operación ")
c = input("Introduce un número ")

if c.isdigit() == True:
    c=int(c)
else:
    print("Introduzca un número")

if b == '+':
    suma = a + c
    print("el resultado de " + str(a) +" "+ str(b) +" " + str(c) + " es igual a " + str(suma))
elif b == '-':
    resta = a - c
    print("el resultado de " + str(a) +" "+ str(b) +" " + str(c) + " es igual a " + str(resta))
elif b == '/':
    if c != 0:
        division = a / c
        print("el resultado de " + str(a) +" "+ str(b) +" " + str(c) + " es igual a " + str(division))
    else:
        print("Error, no se puede dividir por " + str(c))
elif b == '*':
    multiplicacion = a * c
    print("el resultado de " + str(a) +" "+ str(b) +" " + str(c) + " es igual a " + str(multiplicacion))
elif b == '^':
    exponente = a ^ c
    print("el resultado de " + str(a) +" "+ str(b) +" " + str(c) + " es igual a " + str(exponente))
elif b == '%':
    modulo = a % c
    print("el resultado de " + str(a) +" "+ str(b) +" " + str(c) + " es igual a " + str(modulo))

In [ ]:
a = input("Introduce un número ")
b = input("Introduce otro número ")
if a.isnumeric == False or b.isnumeric == False:
    print("Los datos introducidos no son correctos")
    exit()


***

## Iterators

In [ ]:
# While... - break, continue, else (While va seguido normalmente 
# de alguna de estas palabras, para salir del bucle, seguir o añadir otra ruta)

# For...

In [2]:
# ejemplo datos...

import random

# random.seed() -- la extension seed nos deja generar una lista arelatoria de datos
# si es entre parentesis es una tupla, lista inmutable. Si es con [] es una list anormal. 

# range es una funcion que genera una lista, le podemos decir desde donde empieza (star), donde acaba (stop)
# y los pasos hasta llegar (step)

names = [] #es la variable global porque se encuentra fuera de la función, bucle o del iterator. 
for name in range(5,1000,5):
    names.append(name)
print(names)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995]

In [3]:
names = [] #es la variable global porque se encuentra fuera de la función, bucle o del iterator. 
for name in range(5,1000,5):
    names.append(name)
print(random.choices(names,k=5)) # Con choices podemos elegir de una lista los numeros que queramos de forma aleatoria.

[80, 855, 980, 220, 685]

In [11]:
random.seed(666) # Con seed lo que va a hacer que salgan siempre los mismo números, los numeros en parentesis determinan
# los numeros que nos mostrará. Son las denominadas semillas. 
name = []
for name in range(100):
    names.append(name)
print(random.choices(names,k=5))

[56, 3, 34, 1, 11]


***

### Jugamos a los dados

````
Guess a number between 1 and 5: 4
Guess a number between 1 and 5: 4
````

El objetivo es acertar un número tirando unos dados.

In [ ]:
##### Importamos las librerias
import random

# Declaración de variables
value = random.randint(1,6)
count = 0
guess = 0

# Creamos el iterador

while guess != value:
    count += 1 # incremento
    guess = input("Adivina un numero entre 1 y 6: ")
    if guess.isnumeric():
        guess = int()
else: 
    print("Has adivinado en {count} ocasiones!".format(count)) #.format hace que introduzcamos dentro de un str el valor
    # imporante, dentro del str tiene que estar en corchetes {}

### Mejora del juego del dado:

## MEJORA DEL JUEGO ANTERIOR

Recompile el juego de adivinación de números, pero esta vez:

- Muestre el número del intento actual.
- Si el número propuesto es demasiado bajo, indíquele al usuario "El número es demasiado bajo, vuelva a intentarlo".
- Si el número propuesto es demasiado alto, indíquele al usuario "El número es demasiado alto, vuelva a intentarlo".
- Si el usuario escribe un valor no numérico, indíquele al usuario "Introduzca solo números".

Además, tome nota de la salida. Las solicitudes y los mensajes han cambiado en comparación con el desafío original.

Independientemente de cómo lo haga, el código debería producir una salida similar a la siguiente (debido a la respuesta y a las suposiciones generadas aleatoriamente):


```output
Guess a number between 1 and 10
Enter guess #1: 5
Your guess is too low, try again!
Enter guess #2: 8
Your guess is too high, try again!
Enter guess #3: 7
Your guess is too high, try again!
Enter guess #4: 6
You guessed it in 4 tries!
```

Si el usuario escribe un valor que no es numérico, muestre un mensaje de error. En la siguiente salida de ejemplo, el usuario escribe algunas cadenas y se le recuerda que solo debe introducir números.


```output
Guess a number between 1 and 10
Enter guess #1: Bob
Numbers only, please!
Enter guess #2: Beth
Numbers only, please!
Enter guess #3: 5
You guessed it in 3 tries!
```

In [3]:
##### Importamos las librerias
import random

# Declaración de variables
value = random.randint(1,10)
intentos = 0
guess = 0

# Creamos el iterador

while guess != value:
    intentos += 1 # incremento
    guess = input("Adivina un numero entre 1 y 10: ")
    if guess.isdigit():
        guess = int(guess)
        if guess > value:
            print("Your guess is too high, try again!")
        elif guess < value:
            print("Your guess is too low, try again!")
    else:
        print("This is not a number")
else: 
    print("Has adivinado en {} ocasiones!".format(intentos))

Adivina un numero entre 1 y 10: 5
Your guess is too high, try again!
Adivina un numero entre 1 y 10: 3
Your guess is too low, try again!
Adivina un numero entre 1 y 10: 4
Has adivinado en 3 ocasiones!


****

### Interactuar con bucles

In [43]:
molecula = """
ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N
ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C
ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C
ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O
ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C
ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S
ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N
ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C
ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C
ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O
ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O
"""

In [44]:
type(molecula)

str

In [45]:
# Podemos importar funciones o programas que nos permiten trabajar con str muy grandes y poder leerlos. 
import os
lines = molecula.splitlines()
# Alternativa: lines = molecula.split(os.linesep)

In [46]:
lines

['',
 'ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N',
 'ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C',
 'ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C',
 'ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O',
 'ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C',
 'ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S',
 'ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N',
 'ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C',
 'ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C',
 'ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O',
 'ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O']

In [47]:
type(lines)

list

In [48]:
len(lines)

12

In [49]:
# Vamos a entender el funcionamiento de SPLIT
frase1 = "Frase1. La segunda frase. Tercera frase."
frase2 = "Una frase. Dos frases. Tercera frase mas larga. Cuarta frase."

In [50]:
frase1.split(".")
frase2.split(".")

['Una frase', ' Dos frases', ' Tercera frase mas larga', ' Cuarta frase', '']

In [51]:
# Usando for, podemos acceder a la lista y que nos muestre las condiciones que queramos.
lines_atom = [] # creamos una lista vacia para que cree una lista nueva con esas condiciones
for line in lines:
    if line.startswith('ATOM'): # queremos que selecciones las lines que empiezan con ATOM
        lines_atom.append(line) #así añadimos a la nueva lista. 
print(lines_atom)

['ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N', 'ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C', 'ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C', 'ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O', 'ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C', 'ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S', 'ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N', 'ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C', 'ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C', 'ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O', 'ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O']

In [52]:
lines_atom

['ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N',
 'ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C',
 'ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C',
 'ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O',
 'ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C',
 'ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S',
 'ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N',
 'ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C',
 'ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C',
 'ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O',
 'ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O']

In [48]:
# Usando for, podemos acceder a la lista y que nos muestre las condiciones que queramos.
lines_atom = [] # creamos una lista vacia para que cree una lista nueva con esas condiciones
for line in lines:
    if line.endswith('O'): # queremos que selecciones las lines que empiezan con ATOM
        lines_atom.append(line) #así añadimos a la nueva lista. 
print(lines_atom)

['ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O', 'ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O', 'ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O']

In [50]:
lines_atom

['ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O',
 'ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O',
 'ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O']

In [59]:
# podemos definir funciones para que ejecuten diferentes operaciones. 
# En este caso para que nos de la cantidad de saltos de línea, que se representa con \n

def cuenta_frase(string):
    num_frases = string.count("\n")
    return num_frases

In [7]:
# Ejecutamos la función. 
cuenta_frase(molecula)

NameError: name 'cuenta_frase' is not defined


****

### Listas

In [2]:
# Listas

names = ["Pepe", "Lucia", "Ricarco", "Paco"]
print(names)

['Pepe', 'Lucia', 'Ricarco', 'Paco']

In [3]:
len(names) # Cuenta los elementos de la lista
names.sort() # Ordena de A - Z

In [5]:
names

['Lucia', 'Paco', 'Pepe', 'Ricarco']

In [8]:
names[0] # Las listas empiezan por el 0, por tanto si queremos el último en este caso sería el 3.

'Lucia'

In [10]:
names[-2] # si lo hacemos negativo, empezamos por detras.

'Pepe'

In [13]:
names[1:2] # Poniendo : lo que hacemos es buscar dentro de la lista. Busca hasta el -1 del segundo valor. En este caso
# busca entre paco y pepe - 1, lo cual nos devuelve paco. Solo funciona con positivos. Si hacmeos names[-1:2] no va.

['Paco']

In [5]:
# quiero añadir un nuevo miembro al equipo 
names.append("Barbara")

In [8]:
names

['Pepe', 'Lucia', 'Ricarco', 'Paco', 'Barbara']


***

### Tuplas

In [24]:
# Las tuplas se utilizan cuando necesitamos almacenar pocos valores. Son listas que no son mutables
# ej, coordenadas
tupla = (12.5, 60.5)

In [25]:
tupla.add(20) # al intentar añadir aldo a la tupla da error.

AttributeError: 'tuple' object has no attribute 'add'

### Set

In [15]:
# El set es un listado de valores únicos

s = set()

In [18]:
# añadimos valores
s.add(2)
s.add(5)
s.add(6)

In [20]:
s

{2, 5, 6}

In [22]:
# Si quisieramos añadir 5, no lo cogeria. porque ya lo tiene. 
s.add(5)

In [26]:
s

{2, 5, 6}


***

## Diccionarios

In [28]:
# los diccionarios son listados que tienen variables (key) y valores. 
# El diccionario se genera con {} y cada una de las variables se separa por : y cada uno de los parametros con , 

neoland = {
    "Enrique" : "Data Scientist",
    "María" : "Data Arquitect",
    "Juan":"Data Engineer",
    "Jorge":"Data Analyst",
    "Noelia":"Data y nada más",
    "Raquel":"Data Specialist",
    "Rodrigo":"Data y no sé",
    "Eduardo": "Data"
}
type(neoland)

dict

In [31]:
len(neoland)

8

In [34]:
neoland["María"] # buscar el elemento que su parámetro sea María

'Data Arquitect'

In [36]:
neoland.keys() # De esta forma podemos ver los parámetros

dict_keys(['Enrique', 'María', 'Juan', 'Jorge', 'Noelia', 'Raquel', 'Rodrigo', 'Eduardo'])

In [39]:
neoland.items() # De esta forma devuelve los pares.

dict_items([('Enrique', 'Data Scientist'), ('María', 'Data Arquitect'), ('Juan', 'Data Engineer'), ('Jorge', 'Data Analyst'), ('Noelia', 'Data y nada más'), ('Raquel', 'Data Specialist'), ('Rodrigo', 'Data y no sé'), ('Eduardo', 'Data')])

In [40]:
# para añadir un nuevo elemento
neoland["Marco"]= "Profesor"
neoland

{'Enrique': 'Data Scientist',
 'María': 'Data Arquitect',
 'Juan': 'Data Engineer',
 'Jorge': 'Data Analyst',
 'Noelia': 'Data y nada más',
 'Raquel': 'Data Specialist',
 'Rodrigo': 'Data y no sé',
 'Eduardo': 'Data',
 'Marco': 'Profesor'}